/* Hide number input spinners for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Hide number input spinners for Firefox */
    border-radius: 10px; 
    border: 1px solid #ccc;
    padding: 0.2em 0.5em;
    margin: 1em;
    margin-right: 3em;
    /* outline: none; */
    font-size: 0.4em;
    width: 8em
    /* box-sizing: border-box; */
}