.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #0f0f14;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
    z-index: 999;
    box-shadow: 0 10px 24px rgba(28, 35, 51, 0.5);
} */

.App-body {
  background: radial-gradient(circle at 50% 25%, #000002 40%, #282c34 70%);
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pdf-link {
  /* display: inline-block; */
  color: #b2acac;
  font-size: 0.6em;
  text-decoration: underline;
  margin: 1em;
  transition: background 0.2s, color 0.2s;
}

.pdf-link:hover {
  color: #38538b;
  text-decoration: underline;
}

.spinning-earth {
    width: 1000vw;
    margin: 0;
    margin: 0 auto;
    display: block;
    /* height: 300px; */
    animation: spinning-earth 300s linear infinite;
}

@keyframes spinning-earth {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.image-crop-container {
  height: 50vh;        
  overflow: hidden;     
  position: relative;
  position: fixed;
  left: 0;
  padding:0;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



